@tailwind base;
@tailwind components;
@tailwind utilities;

.secondary-title {
    @apply text-3xl font-bold;
}

.secondary-title::before{
    content: '';
    @apply block w-12 h-1 bg-theme rounded-full mb-3;
}

.section-paragraph {
    @apply text-secondary my-6 w-full max-w-3xl;
}

.badge {
    @apply px-4 py-2 text-sm rounded bg-badge
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline: 1px solid limegreen !important; */
}

html{
    scroll-behavior: smooth; 
    height: 100vh;
}

body {
    background-color: #17171f;
    transition: 2s all;
    color: white;
}


#topnav {
    transition: all 0.5s ease;
    z-index: 15;
    height: 80px;
}
.nav-sticky{
    background-color: rgba(23, 23, 31, 0.8);
}


@media (max-width: 768px){

    .menu-open{
        align-items: center;
        background: rgba(220, 28, 19, 0.7);
        position: fixed;
        right: 0;
        top:0;
        height: 100%;
        width: 70%;
        z-index: 10;
        transition: 0.5s all;
    }

    .menu-open ul {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 100%;
    }

    .menu-open li{
        font-size: 2.5rem;
    }

    .menu-close{
        align-items: center;
        background: rgba(220, 28, 19, 0.7);
        height: 100%;
        position: fixed;
        right: -550px;
        top:0;
        width: 70%;
        z-index: 10;
        transition: 0.5s all;
    }

    .menu-close ul {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 100%;
    }

    .menu-close li{
        font-size: 2.5rem;
    }
}